{% extends 'base.html' %}
{% block title %}木骨{% endblock %}
{% block content %}
    <div class="container-fluid col-lg-9" style="padding-top: 40px">
       <h3>目录</h3>
        <ul class="list-group">
            {% for blog in blogs %}
                <li class="list-group-item">
                    <span class="badge">{{ blog.blog_views }}</span>
                    <span class="badge">{{ blog.blog_createtime }}</span>
                    <a href="/blog/{{ blog.id }}">{{ blog.blog_title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}