{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
    <div class="panel-body  col-lg-5 mylogin-box ">
<h3><strong>{% trans "Sign Out" %}</strong></h3>
  <hr style="padding-top: 0px;margin-top: 0px">
<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit" class="btn btn-primary">{% trans 'Sign Out' %}</button>
</form>
    </div>
{% endblock %}
