navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 10px;
}

.navbar-brand {
    padding-top:5px;
    color: #fff;
}

.navbar-brand > a:focus, a:hover {
    color: #000;
}

.navbar {
    min-height: 40px;
    background-color: rgb(26,166,155);
}

.navbar-toggle {
    margin-top: 4px;
    margin-bottom: 4px;
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: #2286ee
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #337ab7;
    border-color: #337ab7
}
.list-group{
    padding: 0px;
}

.list-group-item {
    border: 0px solid #ddd;
    border-top: 0px solid #f6f6f6;
    border-bottom: 0px solid #ddd;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px #ccc;
}

.panel {
    border-radius: 0px;
}

.panel-default > .panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #000;
}

.mylogin-box {
    background-color: white;
    box-shadow: 10px 10px 5px #ccc;
    margin-top: 10px;
    margin-left: 20px;
    height: 100%;

}